html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

.parent {
    max-width: 1280px;
    width: 100%;
    padding: 10px;
}

.block {
    margin-bottom: 10px;
    padding: 10px;
    height: 150px;
    font-family: 'Roboto';

}

.block:last-child {
    margin-bottom: 0px;
}


.block:nth-child(odd) {
    width: 75%;
}

.block:nth-child(even) {
    width: 50%;
}

.block1 {
    background: #55B3B9;
}

.block2 {
    background: #C56060;
}

.block3 {
    background: #8FC091;
}

.block4 {
    background: #8F86AF;
}

.block1 h1 {
    font-size: normal;
    font-weight: 900;

}

.block1 h2 {
    font-style: normal;
    font-weight: 500;

}

.block2 h2 {
    font-style: normal;
    font-weight: 500;

}

.block2 h3 {
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;

}

.block3 h2 {
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.block3 h3 {
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.block4 h2 {
    font-style: normal;
    font-weight: 800;
    text-decoration-line: line-through;
}

.block4 h3 {
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-decoration-line: line-through;
}

.block:hover {
    font-size: 32px;
}